/* line 4, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.pdf {
  width: 30vw;
  height: 80vh;
}

/* line 9, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.header_logo {
  max-width: 30vh;
  max-height: 30vw;
}

/* line 15, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.header {
  text-align: center;
}

/* line 24, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.snap-head-text {
  font-size: 25pt;
}

/* line 30, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.head {
  vertical-align: top;
  text-align: right;
  font-size: 15pt;
  margin-right: 5vw;
}

/* line 39, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
header {
  text-align: center;
}

/* line 43, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.front-title {
  text-align: center;
  font-size: 30pt;
}

/* line 48, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.slick-test {
  max-width: 25vw;
  max-height: 60vh;
  margin: 0 auto;
}

/* line 58, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.link-container {
  padding-top: 1vh;
  text-align: center;
}

/* line 63, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.link-container * {
  display: inline-block;
  margin-top: 10px;
  padding-right: 2.5vw;
  padding-left: 2.5vw;
  font-size: 18pt;
}

/* line 73, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.pdf-container {
  padding-top: 1vh;
  text-align: center;
}

/* line 78, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.pdf-container * {
  display: block;
  margin-top: 10px;
  font-size: 26pt;
  text-decoration: none;
  color: teal;
}

/* line 91, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
#title-first {
  color: #BF5FFF;
}

/* line 95, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
#title-second {
  color: limegreen;
}

/* line 99, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
#contact {
  text-align: center;
  font-size: 20pt;
}

/* line 104, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
#contact div {
  display: inline-block;
  margin: 40px;
}

/* line 109, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
#showback {
  text-align: center;
  font-size: 20pt;
}

/* line 114, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
body {
  background-color: lightgray;
}

/* line 118, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
#repping {
  text-align: center;
}

/* line 123, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.front-menu {
  margin-top: 15px;
}

/* line 128, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.front-menu ul {
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

/* line 137, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.front-menu ul a {
  display: block;
  color: #333;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 32px;
  padding: 0 15px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 149, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.front-menu ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

/* line 157, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.front-menu ul li.current-menu-item {
  background: #ddd;
}

/* line 162, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.front-menu ul li:hover {
  background: #f6f6f6;
}

/* line 167, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.front-menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 0;
}

/* line 177, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.front-menu ul ul li {
  float: none;
  width: 200px;
}

/* line 183, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.front-menu ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}

/* line 189, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.front-menu ul ul ul {
  top: 0;
  left: 100%;
}

/* line 195, /Users/nicholasmichel/Desktop/Projects/MomCatalogue/app/assets/stylesheets/catalogues.scss */
.front-menu ul li:hover > ul {
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

