<h2 class='about-title'>About Snapdragon</h2>


<p class='about-blurb'>Servicing the Caribbean resort industry for over 25 years, Snapdragon has a great package of quality, reliable vendors.</p>
<p class='about-blurb'>We’re here to guide you in terms of styles/colors/size runs/arts (where applicable), quantity, scope of product to fill your shop.</p>
<p class='about-blurb'>We’ve watched carefully all these years and are fully conversant in what sells through fastest since the Caribbean market can be so different from others.</p>
<p class='about-blurb'>We’re also up on the latest, hottest trends.</p>
<p class='about-blurb'>Let us know how we can help!  We look forward to working with you</p>



<div id = "contact">
  <div>
    <p>Sally Michel</p>
    <a href="mailto:sally@snapdragon.com">sally@snapdragon.com</a>
    <p>561-894-8140</p>
  </div>

  <div>
    <p>Irene Ortega</p>
    <a href="mailto:sally@snapdragon.com">irene@isnapdragon.com</a>
    <p>340-344-9938</p>
  </div>

</div>
