<div id = "contact">

  <div>
    <p>Sally Michel</p>
    <a href="mailto:sally@snapdragon.com">sally@snapdragon.com</a>
    <p>561-894-8140</p>
  </div>

  <div>
    <p>Irene Ortega</p>
    <a href="mailto:sally@snapdragon.com">irene@isnapdragon.com</a>
    <p>340-344-9938</p>
  </div>

</div>
