<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
    <div class = 'slick-test'>
    <!-- set up folder for scrolling images, grab filenames in controller, pass array in instance var  -->
    <!-- @imagenames.each |name| image_tag(@account/scrollimages/name) -->
      <%= image_tag('MODEL_G3133_5820 OUTTA TOWN HOOD_AP002877981 P1 FC2.jpg') %>
      <%= image_tag('MODEL_G3135_190_OUTTA TOWN CREW MALE_AP002822177 P1 FC3.jpg') %>
      <%= image_tag('MODEL_G7357_190_AP002867044 P2 FC1.jpg') %>
      <%= image_tag('MODEL_INTRO_FEMALE_G7358_1026_MALE_G2372_948.jpg') %>
    </div>
</body>
</html>
