<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
  <div class ="header">
      <!-- this goes to index -->
      <!-- drop down for catalogue/art on vendor pages -->
      <!-- use subfolders to organize -->
    <!-- <%= image_tag("Snapdragon_w_type.jpg", class: "header_logo") %> -->
    <!-- <p class = "snap-head-text">SNAPDRAGON PRODUCTIONS</p> -->
  </div>
  <p class = "front-title"><span id="title-first">FALL</span>/<span id="title-second">WINTER 2017-18</span></p>
  <a href="<%=asset_path("spirit sp 17catalog/mobile.html") %>">TEST</a>
  <% if admin_signed_in? %>
  <!-- dont forget to add an upload catalogue method of some kind -->
<!--     <h1 id="repping">REPRESENTING</h1> -->
    <div class="front-img">
      <%= image_tag('front-img.jpg') %>
    </div>
  <% end %>

<!-- ideas
* order submission form for sperry, on submit goes to choice of mom/Irene
*

 -->

 <!-- to do
* fix links extending past images
* automate filename .pdf removal
* possibly change invite to link validation
  -->

</body>
</html>
