// Place all the styles related to the catalogues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pdf {
  width: 30vw;
  height: 80vh;
}

.header_logo {
  //put in middle
  max-width: 20vw;
  max-height: 20vh;
}

.header {
  text-align: center;
  // margin-top: -1vh;
  // margin-left: 25vw;
  // margin-right: 15vw;
  // max-width: 30vw;
  // display: inline-block;
}

.snap-head-text {
  font-size: 14pt
  //capitalize
  //wider, taller, bigger font
}

// .head {
//   vertical-align: top;
//   // text-align: right;
//   // display: inline-block;
//   // width: 25vw;
//   font-size: 15pt;
//   // margin-right: 5vw;
// }

.authentication-link {
  vertical-align: top;
  // margin-right: -10vh;
  text-align: right;
  margin-left: 80vw;
}

.top-menu {
  margin-top: 10%;
}

header {
  // text-align: center;
}

.front-title {
  text-align: center;
  font-size: 30pt;
}

.front-img img {
  min-width: 99vw;
  height: 80vh;
}

.brand-title {
  text-align: left;
  margin-left: 40px;
  margin-bottom: -5px;
}

.slick-test {
  max-width: 25vw;
  max-height: 60vh;
  margin: 40px auto;
  clear: both;
}

.slick-test img {
  // max-height: 60vh
}

.link-container {
  padding-top: 1vh;
  text-align: center;
}

.link-container a {
  display: inline-block;
  margin-top: 10px;
  // padding-right: 6vw;
  // padding-left: 6vw;
  font-size: 18pt;
  border: 1px solid gray;
  width: 20vw;
  height: 40vh;
}

.link-container a img {
  margin: 0 auto;
  display: block;
  min-width: 15vw;
  max-height: 39vh;
  // min-width: 75%;
  // max-height: 95%;
  margin-top: 3px;
}


.pdf-container {
  padding-top: 1vh;
  text-align: center;
}

.pdf-container * {
  // display: block;
  list-style: none;
  margin: 10px 0;
  // font-size: 26pt;
  text-decoration: none;
  // color: teal;
}

.category {
  text-align: left;
  color: gray;
  font-size: 14pt;
  border-bottom: 1px solid lightblue;
  margin-top: 20px;
}

.category a {
  color: gray;
}

.kid {
  text-align: left;

}

.kid a {
  color: gray;
}

.kid a {
  color: blue;
}

.front-title {
  // font-size: 1in;
  // margin-top: .75in;
}

#title-first {
  color:#BF5FFF
}

#title-second {
  color:limegreen
}

#contact {
  text-align: center;
  font-size: 20pt;
}

#contact div {
  display: inline-block;
  margin: 40px;
}

#showback {
  text-align: center;
  font-size: 20pt;
}

body {
  // background-color: lightgray
}

#repping {
  text-align: center;
}

// drop down css
.front-menu
{
  // margin-top:-15px;
  text-align: center;

}

.front-menu ul
{
  display: inline-block;
  list-style:none;
  position:relative;
  // float:left;
  margin:0;
  padding:0;
  z-index: 4;
}

.front-menu ul a
{
  display:block;
  color:#333;
  text-decoration:none;
  // font-weight:700;
  font-size: 15pt;
  line-height:32px;
  padding:0 15px;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: left;

}

.front-menu ul li
{
  position:relative;
  float:left;
  // margin:0;
  padding:0;
  // overflow-wrap: break-word;
}

.front-menu ul li.current-menu-item
{
  background:#ddd
}

.front-menu ul li:hover
{
  background:#f6f6f6
}

.front-menu ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0
}

.front-menu ul ul li
{
  float:none;
  width:200px;
  overflow-wrap: break-word;
}

.front-menu ul ul a
{
  line-height:120%;
  padding:10px 5px;
}

.front-menu ul ul ul
{
  top:0;
  left:100%
}

.front-menu ul li:hover > ul
{
  display:block;
  border: 1px solid gray;
}

.show-drop {
  // margin-left: 20px;
  // margin-right: 20px;
}

.log-in {
  text-align: center;
}

#logo-home-link {
  max-height: 20vh;
  // margin-bottom: 7.5vh;
}

#logo-home-link > a {
  padding: 0;
  max-height: 20vh;
}

.about-blurb {
  text-align: center;

}

.about-title {
  text-align: center;
  margin-bottom: 5vh;
}

.sign-in {
  text-align: right;
  margin-right: 15vw;
}

.pic-gallery{
  display: inline-block;
  margin-left: 3vw;
}

.pic-gallery img {
  max-height: 30vh;
  max-width: 30vw;
  margin: 0 10px;
}

#flipframe {
  height: 100vh;
  width:100vw;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}
