// Place all the styles related to the catalogues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pdf {
  width: 30vw;
  height: 80vh;
}

.header_logo {
  //put in middle
  max-width: 30vh;
  max-height: 30vw;
}

.header {
  text-align: center;
  // margin-top: -1vh;
  // margin-left: 25vw;
  // margin-right: 15vw;
  // max-width: 30vw;
  // display: inline-block;
}

.snap-head-text {
  font-size: 25pt
  //capitalize
  //wider, taller, bigger font
}

.head {
  vertical-align: top;
  text-align: right;
  // display: inline-block;
  // width: 25vw;
  font-size: 15pt;
  margin-right: 5vw;
}

header {
  text-align: center;
}

.front-title {
  text-align: center;
  font-size: 30pt
}

.slick-test {
  max-width: 25vw;
  max-height: 60vh;
  margin: 0 auto;
  clear: both;
}

.slick-test img {
  // max-height: 60vh
}

.link-container {
  padding-top: 1vh;
  text-align: center;
}

.link-container * {
  display: inline-block;
  margin-top: 10px;
  padding-right: 2.5vw;
  padding-left: 2.5vw;
  font-size: 18pt;
}



.pdf-container {
  padding-top: 1vh;
  text-align: center;
}

.pdf-container * {
  display: block;
  margin-top: 10px;
  font-size: 26pt;
  text-decoration: none;
  color: teal;
}

.front-title {
  // font-size: 1in;
  // margin-top: .75in;
}

#title-first {
  color:#BF5FFF
}

#title-second {
  color:limegreen
}

#contact {
  text-align: center;
  font-size: 20pt;
}

#contact div {
  display: inline-block;
  margin: 40px;
}

#showback {
  text-align: center;
  font-size: 20pt;
}

body {
  background-color: lightgray
}

#repping {
  text-align: center;
}

// drop down css
.front-menu
{
  margin-top:15px;
  text-align: center;

}

.front-menu ul
{
  display: inline-block;
  list-style:none;
  position:relative;
  // float:left;
  margin:0;
  padding:0;
  z-index: 4;
}

.front-menu ul a
{
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:700;
  font-size:12px;
  line-height:32px;
  padding:0 15px;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

.front-menu ul li
{
  position:relative;
  float:left;
  // margin:0;
  padding:0
}

.front-menu ul li.current-menu-item
{
  background:#ddd
}

.front-menu ul li:hover
{
  background:#f6f6f6
}

.front-menu ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0
}

.front-menu ul ul li
{
  float:none;
  width:200px
}

.front-menu ul ul a
{
  line-height:120%;
  padding:10px 15px
}

.front-menu ul ul ul
{
  top:0;
  left:100%
}

.front-menu ul li:hover > ul
{
  display:block
}

.show-drop {
  margin-left: 20px;
  margin-right: 20px;
}
